<div class="fullscreen-bg">
    <video loop muted autoplay poster="/img/coding.png" class="fullscreen-bg__video">
        <source src="/video/coding.mp4" type="video/mp4">
        <source src="/video/coding.webm" type="video/webm">
        <source src="/video/coding.ogv" type="video/ogg">
    </video>
</div>
<md-content layout-fill="" flex="" layout="column" layout-align="center center">
    <img src="/img/portrait.png" width="300" height="300">
    <div>
        <a href="https://github.com/bradbird1990" target="_blank"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
        <a href="https://bitbucket.org/bradster" target="_blank"><i class="fa fa-bitbucket-square fa-4x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/superbradio" target="_blank"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/_bradbird" target="_blank"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/bradgh0st" target="_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
    </div>
</md-content>
