<a href="https://github.com/bradbird1990" target="_blank"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
<a href="https://bitbucket.org/bradster" target="_blank"><i class="fa fa-bitbucket-square fa-4x" aria-hidden="true"></i></a>
<a href="https://www.facebook.com/superbradio" target="_blank"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
<a href="https://twitter.com/_bradbird" target="_blank"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
<a href="https://www.instagram.com/bradgh0st" target="_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
